.billing {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: var(--gray-shadow-light);
  position: relative;
}
.header {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  box-shadow: var(--gray-shadow-light);
  padding-inline: 1rem;
  color: var(--dark-black);
  font-weight: 400;
  font-size: 1.1rem;
  font-family: var(--font-primary);
}
.header i {
  font-size: 1.2rem;
}
.row-1 {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-around;
  padding-inline: 1rem;
}
.btn-1 {
  border: none;
  border: 2px solid var(--gray-tone);
  background: none;
  width: 100%;
  padding: 0.4rem;
  height: 2.5rem;
  font-size: 0.9rem;
  border-radius: .3rem;
  cursor: pointer;
  color: var(--dark-black);
}
.btn-1:hover {
  box-shadow: 0px 0px 2px 1px var(--gray-tone);
}

.row-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  box-shadow: var(--gray-shadow-light);
  padding:.7rem;
}

.detail {
  /* height: 3.7rem; */
  width: 100%;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .4rem;
  font-family: var(--font-secondary);
}
.esc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;
}
.fade-title{
    color: var(--gray-disable);
}
.dark-title{
    color:var(--dark-black);
    font-weight: 600;
}

.total{
    margin-top: .8rem;
    font-family: var(--font-secondary);
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 800;
}
.payment-option-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .6rem;
    /* padding-inline: 1rem; */
    justify-content: space-around;
    margin-top: .8rem;
}
.min-height{
    font-size: .7rem;
    height: 2rem;
}
.min-height i{
    padding-inline: .4rem;
    text-align: center;
}
.call-to-action-section{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    justify-content: space-between;
    margin-top: .6rem;
}
.btn-main{
    background-color: var(--primary-red);
    color: var(--white);
    height: 2.3rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 400;
    
}
.btn-disable{
    background-color: var(--gray-tone);
    border: none;
    color: var(--dark-black);    
    border-radius: .3rem;
    font-weight: 600;
}
.bg-title-amount{
    font-size: 1.35rem;
}