.registration-parent {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.4fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.regis-div1 {
  grid-area: 1 / 1 / 6 / 4;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.regis-div1 img {
  margin-top: 3rem;
  width: 20rem;
  border-radius: 100%;
}
.regis-div1 h1 {
  font-family: var(--font-primary);
  font-size: 1.7rem;
  width: 70%;
  text-align: center;
  color: var(--dark-black);
}
.regis-div1 p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--dark-black);
  font-family: var(--font-secondary);
}
.regis-div2 {
  /* background: var(--primary-red); */
  height: 100%;
  grid-area: 1 / 4 / 6 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  /* background: rgb(241, 241, 241); */
  height: 35rem;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.col label {
  font-size: 0.9rem;
  color: var(--gray-disable);
  font-family: var(--font-secondary);
  font-weight: 600;
}
.form-input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.submit-btn {
  background-color: var(--primary-red);
  width: 13rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  height: 3rem;
  border: none;
  color: var(--white);
  cursor: pointer;
}
