/* Google Fonts API  */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  background: var(--light-white);
}

/* CSS Root Variable  */
:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-accent: "JetBrains Mono", monospace;

  /* Primary Red color of software  */
  --primary-red: #d2122e;
  /* primary Red little faded  */
  --primary-red-faded: rgba(255, 28, 62, 0.2);
  /* Accent Yellow for features of discounts  */
  --accent-yellow: #ffc107;
  /* Black Dark for text  */
  --dark-black: #161617;
  /* Gray shade for disable options  */
  --gray-disable: #989898;
  /* Green for sucess  */
  --sucess-green: #2ecc71;
  /* Green dark  */
  --green-dark:#00A550;
  /* Orange for Warning  */
  --warning-orange: #f77f00;
  /* Light White for background  */
  --light-white: #f8f9fa;
  /* White color  */
  --white: #ffffff;
  /* for cards and contrast  */
  --gray-tone: #e0e0e0;
  /* test orange  */
  --test-primary: #fc8019;

  /* Gray Shadow Tone light  */
  --gray-shadow-light: 0px 0px 3px 2px var(--gray-tone);
}



/* Layout for all the Pages exculding dashboard  */
.global-parent-layout {
  display: grid;
  grid-template-columns: .8fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
  
}

.global-div1 {
  grid-area: 1 / 1 / 6 / 2;
  height: 100%;
  width: 100%;
}
.global-div2 {
  grid-area: 1 / 2 / 6 / 6;
  padding: 2rem;
  height: 100%;
  width: 100%;

}



/* SCROLL BAR CSS  */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}